.layoutContainer{
    height: 100vh;
    width: 100vw;
    background-color: cadetblue;
    position: relative;
   
}
.sideContainer{
    position: absolute;
    left: 0;
    top: 8vh;

}
.navbarContainer{
position: absolute;
top: 0;
}
.content{
   
   
   
   
   
}
.img{
    height: 150px;
    width: 150px;
}
li{
    list-style-type: none;
}
.product-show{
    display: flex;
   flex-wrap: wrap;
  
  

   
}
.item{
    height: 13rem;
    width: 10rem;
    background-color: rgba(255, 255, 255, 0.226);
    margin-right: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    border-radius: 8px;
    padding: 5px 5px;
    margin: 5px 5px;
    color: white;
    

}
.l-content{
    height: 92vh;
    width: 86vw;
    position: absolute;
    top: 8vh;
    left: 14vw;
    background-color: rgba(128, 0, 128, 0.603);
    overflow-x: hidden;
    overflow-y: scroll;
}